body{
    font-family: 'Poppins', sans-serif;;
    margin: 0;
}
.sec-a-div{
    width: 40%;
    margin-top: 50px;
    margin-left: 55px;
    padding-right: 30px;
}
section{
    display: flex;
}
.sec-a-div img{
    width: 100%;
    
}
.sec-a-left h1{
    width: 80%;
    padding-right: 60px;
    margin-left: 20px;
    margin-top: 100px;
    font-size: 100px;
}
.sec-a-left{
    margin-bottom: 45px;
}


h1{
    font-size: 45px;
}
#differ-color{
    color: #058df7;
}
.link-button{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(34, 166, 255));
    padding: 15px 50px;
    border-radius: 30px;
    margin-top: 100px;
    letter-spacing: 2px;
    box-shadow: 3px 3px 10px rgb(0, 98, 255);
    }
.aboutme{
    font-size: 40px;
    color: rgb(102, 102, 102);
    font-weight: 500;
    letter-spacing: 2px;
}
.sec-b{    
    margin-top: 150px;
   background-color: skyblue;
    background-repeat: no-repeat;
    
}
#sec-pic{
    width: 40%;
    margin-top: 50px;
    margin-left: 55px;
    padding-right: 0;
    padding-left: 100px;
}
#sec-pic{
    width: 120%;
}

.sec-right{
    padding-left: 500px;
    padding-right: 200px;
}
.link-button{
    margin-bottom: 50px;
}
.recipie-div{
    text-align: center;
    padding: 0px 300px;
}
.recipie-slides{
    width: 30%;
    margin: 150px 25px;
    padding: 30px 30px;
    background-color: white;
    border-radius: 10px;

    
}
.third-sec{
    display: flex;
    width: 100%;

}
.recipie-slides img{
    width: 80%;
}
.third-sec div{
    height: 80%;
}
#ending{
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;
}
#ending p{
    color: skyblue;
}
#yt-span{
    color: red;
}
#ig-span{
    color: purple;
}
#fb-span{
    color: rgb(0, 98, 255);
}
#contact-button{
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.link-button{
    margin: 15px;
}